@model MVCQLKS.Models.Category

@{
    ViewBag.Title = "AddCat";
}

@section ContentHeader{
    Thêm mới dannh mục phòng
}

<div class="row">
    <div class="control-group">
        @Html.LabelFor(m => m.CatName, "Tên loại phòng:", new { @class = "col-md-3 control-label" })
        <div class="col-sm-8 form-control-static">
            @Html.TextBoxFor(m => m.CatName, new { @class = "form-control", placeholder = "Tên loại phòng" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.CatID, "Loại phòng:", new { @class = "col-md-3 control-label" })
        <div class="col-sm-8 form-control-static">
            @Html.TextBoxFor(m => m.CatID, new { @class = "form-control", placeholder = "Loại phòng" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Price, "Đơn giá:", new { @class = "col-md-3 control-label" })
        <div class="col-sm-8 form-control-static">
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "Đơn giá" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Note, "Ghi chú:", new { @class = "col-md-3 control-label" })
        <div class="col-sm-8 form-control-static">
            @Html.TextBoxFor(m => m.Note, new { @class = "form-control", placeholder = "Ghi chú" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                &nbsp;Thêm
            </button>
        </div>
    </div>
</div>