@using MVCQLKS.Models
@*@model Category*@
@model CatInfo

@{
    ViewBag.Title = "AddCat";
    Layout = "~/Views/Shared/_LayoutManageRoom.cshtml";
}

@section ContentHeaderManageRoom{
    Thêm mới dannh mục phòng
}

@section style{
    <link href="~/Content/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/Content/css/summernote.css" rel="stylesheet" />
    <style type="text/css">
        .error {
            color: red;
        }
    </style>

}

@section script{
    <script src="~/Content/js/bootstrap-select.min.js"></script>
    <script src="~/Content/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/js/summernote.min.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $('.selectpicker').selectpicker({
            //style: 'btn-info',
            //size: 4
        });
        $("input[name='PriceInfo']").TouchSpin({
            initval: 500,
            min: 500,
            max: 1000000000,
            stepinterval: 50,
            maxboostedstep: 10000000,
            prefix: 'VNĐ'
        });
        $("#frmAdd").validate({
            rules: {
                CatNameInfo: "required",
                CatTypeInfo: "required",
            },
            messages: {
                CatNameInfo: "Cần nhập tên loại phòng",
                CatTypeInfo: "Cần nhập loại phòng",
            }
        });
    </script>

}

<div class="row">
    <div class="col-md-12">
        @if (ViewBag.ErrorMsg != null)
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @ViewBag.ErrorMsg
            </div>
            //<p class="error">@ViewBag.ErrorMsg</p>
            //<p class="alert alert-warning" role="alert">@ViewBag.ErrorMsg</p>
        }
        @using (Html.BeginForm("AddCat", "ManageRoom", FormMethod.Post, new { @class = "form-horizontal", id = "frmAdd", enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.CatNameInfo, "Tên loại phòng:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.CatNameInfo, new { @class = "form-control", placeholder = "Tên loại phòng" })
                </div>
                @Html.LabelFor(m => m.CatTypeInfo, "Loại phòng:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.CatTypeInfo, new { @class = "form-control", placeholder = "Loại phòng" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PriceInfo, "Đơn giá:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    <input name="PriceInfo" type="text" class="form-control" placeholder="Đơn giá">
                </div>

                @Html.LabelFor(m => m.NoteInfo, "Ghi chú:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.NoteInfo, new { @class = "form-control", placeholder = "Ghi chú" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        &nbsp;Thêm
                    </button>
                </div>
            </div>
        }
    </div>
</div>