@using MVCQLKS.Models
@using MVCQLKS.Ultilities
@model CusInfo

@{
    ViewBag.Title = "AddCus";
    Layout = "~/Views/Shared/_LayoutManageRoom.cshtml";
}

@section ContentHeaderManageRoom{
    Thêm mới khách hàng
}

@section style{
    <link href="~/Content/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/Content/css/summernote.css" rel="stylesheet" />
    <style type="text/css">
        .error {
            color: red;
        }
    </style>

}

@section script{
    <script src="~/Content/js/bootstrap-select.min.js"></script>
    <script src="~/Content/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/js/summernote.min.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $('.selectpicker').selectpicker({
            //style: 'btn-info',
            //size: 4
        });
        $("input[name='CusIDCard']").TouchSpin({
            //initval: 0,
            min: 0,
            max: 999999999,
        });
        $("#frmAdd").validate({
            rules: {
                CusNameInfo: {
                    required: true,
                    maxlength: 50
                },
                CusIDCardInfo: {
                    required: true,
                    minlength: 9,
                    digits: true,
                    min: 1
                },
                CusAddressInfo: {
                    required: true,
                    minlength: 1,
                },
            },
            messages: {
                CusNameInfo: {
                    required: "Cần nhập họ tên khách hàng",
                    maxlength: "Họ tên có độ dài tối đa 48 ký tự"
                },
                CusIDCardInfo: {
                    required: "Cần nhập CMND",
                    minlength: "CMND ít nhất 9 số",
                    digits: "CMND phải là số",
                    min: "CMND phải lớn hơn hoặc bằng 1"
                },
                CusAddressInfo: {
                    required: "Cần nhập địa chỉ",
                    minlength: "Địa chỉ ít nhất 25 kí tự"
                }
            }
        });
        $('a[name ="aAdd"]').on('click', function () {
            $("#roomtype option:selected").text();
        });
    </script>

}

<div class="row">
    <div class="col-md-12">
        @if (ViewBag.ErrorMsg != null)
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @ViewBag.ErrorMsg
            </div>
            //<p class="error">@ViewBag.ErrorMsg</p>
            //<p class="alert alert-warning" role="alert">@ViewBag.ErrorMsg</p>
        }
        @using (Html.BeginForm("AddCus", "ManageRoom", FormMethod.Post, new { @class = "form-horizontal", id = "frmAdd", enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.CusNameInfo, "Họ tên:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.CusNameInfo, new { @class = "form-control", placeholder = "Họ tên" })
                </div>
                @Html.LabelFor(m => m.CusTypeIDInfo, "Loại khách:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.CusTypeIDInfo, Html.GetSLICusType(), new { @class = "form-control selectpicker", placeholder = "loại khách" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CusIDCardInfo, "CMND:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.CusIDCardInfo, new { @class = "form-control", placeholder = "CMND" })
                </div>
                @Html.LabelFor(m => m.CusAddressInfo, "Địa chỉ:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.CusAddressInfo, new { @class = "form-control", placeholder = "Địa chỉ" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RoomIDInfo, "Phòng:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.RoomIDInfo, Html.GetSLIRoom(), new { @class = "form-control selectpicker", placeholder = "phòng" })
                </div>
                @Html.LabelFor(m => m.BookRoomInfo, "Là người đặt phòng:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @*@Html.TextBoxFor(m => m.StatusInfo, new { @class = "form-control", placeholder = "Tình trạng" })*@

                    @Html.DropDownListFor(m => m.BookRoomInfo, new List<SelectListItem>() {
                    new SelectListItem() {
                        Text = "Có",
                        Value = "1"
                    },
                    new SelectListItem() {
                        Text = "Không",
                        Value = "0"
                    },
                }, new { @class = "form-control selectpicker" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" name="aAdd">
                        <i class="fa fa-plus"></i>
                        &nbsp;Thêm
                    </button>
                </div>
            </div>
        }
    </div>
</div>