@using MVCQLKS.Models
@model CusTypeInfo

@{
    ViewBag.Title = "AddCusType";
    Layout = "~/Views/Shared/_LayoutManageRoom.cshtml";
}

@section ContentHeaderManageRoom{
    Thêm mới loại khách hàng
}

@section style{
    <link href="~/Content/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/Content/css/summernote.css" rel="stylesheet" />
    <style type="text/css">
        .error {
            color: red;
        }
    </style>

}

@section script{
    <script src="~/Content/js/bootstrap-select.min.js"></script>
    <script src="~/Content/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/js/summernote.min.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $('.selectpicker').selectpicker({
            //style: 'btn-info',
            //size: 4
        });
        $("input[name='CoefficientInfo']").TouchSpin({
            initval: 0.0,
            min: 0,
            max: 100,
            step: 0.1,
            decimals: 1,
            stepinterval: 50,
            maxboostedstep: 100
        });
        $("#frmAdd").validate({
            rules: {
                CusTypeNameInfo: "required",
            },
            messages: {
                CusTypeNameInfo: "Cần nhập tên loại khách hàng",
            }
        });
    </script>

}

<div class="row">
    <div class="col-md-12">
        @if (ViewBag.ErrorMsg != null)
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @ViewBag.ErrorMsg
            </div>
            //<p class="error">@ViewBag.ErrorMsg</p>
            //<p class="alert alert-warning" role="alert">@ViewBag.ErrorMsg</p>
        }
        @using (Html.BeginForm("AddCusType", "ManageRoom", FormMethod.Post, new { @class = "form-horizontal", id = "frmAdd", enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.CusTypeNameInfo, "Tên loại khách hàng:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.CusTypeNameInfo, new { @class = "form-control", placeholder = "Tên loại khách hàng" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CoefficientInfo, "Hệ số:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    <input name="CoefficientInfo" type="text" class="form-control" placeholder="Hệ số">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        &nbsp;Thêm
                    </button>
                </div>
            </div>
        }
    </div>
</div>