@model IList<MVCQLKS.Models.Customer>

@section ContentHeader{
    Danh sách Khách hàng
}

<div class="row">
    @using (Html.BeginForm("CustomerList", "Customer", FormMethod.Post, new { @class = "form-horizontal", id = "frmCustomer" }))
    {
        <table class="table table-striped table-hover">
            <tr>
                <th>STT</th>
                <th>Họ và tên</th>
                <th>Loại khách</th>
                <th>Số phòng</th>
                <th>Chi tiết</th>
                <th>Thao tác</th>
            </tr>
            @{int i = 0;}

            @foreach (var p in Model)
                {
                    i++;
                <tr>
                    <td>@i</td>
                    <td>@p.CusName</td>
                    <td>@p.CusTypeID</td>
                    <td>@p.RoomID</td>
                    <td><a href="@Url.Action("DetailCus", new { cusId = @p.CusID })">Xem chi tiết</a></td>
                    <td>
                        <a href="@Url.Action("DeleteCusChoNV", new { cusID = @p.CusID})">Xoá</a>

                        <a href="@Url.Action("EditCusChoNV", new { cusID = @p.CusID})">Chỉnh sửa</a>
                    </td>
                </tr>
            }
        </table>
        <div class="col-sm-12 text-center">
            @Html.ActionLink("Thêm khách hàng", "AddCusChoNV")
        </div>
    }
</div>

