@model MVCQLKS.Models.Customer

@section ContentHeader{
    Chỉnh sửa thông tin Khách hàng
}

<div class="row">
    @using (Html.BeginForm("EditCusChoNV", "Employ", FormMethod.Post, new { @class = "form-horizontal", id = "frmEdit" }))
    {
        <div class="control-group">
            @Html.LabelFor(m => m.CusID, "ID:", new { @class = "col-sm-4 control-label" })
            <span class="col-md-6">
                @Html.DisplayFor(m => m.CusID)
            </span>
            @Html.HiddenFor(m => m.CusID)
            <div class="col-md-6">
                @Html.ValidationMessageFor(m => m.CusName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.CusName, "Họ và tên:", new { @class = "col-sm-4 control-label" })
            <div class="col-md-6 form-control-static">
                @Html.EditorFor(m => m.CusName, new { htmlAttributes = new { @class = "col-md-6"} })
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(m => m.CusName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.CusAddress, "Địa chỉ:", new { @class = "col-sm-4 control-label" })
            <div class="col-md-6 form-control-static">
                @Html.EditorFor(m => m.CusAddress, new { htmlAttributes = new { @class = "col-md-6" } })
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(m => m.CusAddress)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-md-6 form-control-static">
                <input type="submit" class="btn btn-success" value="Lưu thay đổi" />
            </div>
        </div>
    }
</div>
