@using MVCQLKS.Models

@model IList<Room>

@section ContentHeader{
    Danh sách phòng
}

@if (Model.Count == 0)
{
    @:Không có phòng
}
else
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Phòng</th>
                        <th>Loại phòng</th>
                        <th>Giá</th>
                        <th>Tình trạng</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int stt = 0;
                    }
                    @foreach (var p in Model)
                    {
                        stt++;
                        <tr>
                            <td>@stt</td>
                            <td>@p.RoomName</td>
                            <td>@p.CatID</td>
                            <td>@string.Format("{0:N0} đ", @p.Price)</td>
                            <td>
                                @if (@p.Status > 0)
                                {
                                    @:Đã cho thuê
                            }
                                else
                                {
                                    @:Còn trống
                            }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<a class="btn btn-primary" href="@Url.Action("AddRoom","Room")" title="Thêm mới phòng">
                <i class="fa fa-plus"></i>
                &nbsp;Thêm mới phòng
            </a>*@
        </div>
    </div>
}