@using MVCQLKS.Ultilities

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    @if (IsSectionDefined("style"))
    {
        @RenderSection("style")
    }
    <style type="text/css">
        .input-validation-error {
            border: 2px solid #f00;
            background-color: #fee;
        }

        input[type="checkbox"].input-validation-error {
            outline: 2px solid #f00;
        }

        .validation-summary-errors {
            color: #f00;
            font-weight: bold;
        }

        .field-validation-error {
            color: #f00;
        }

        .table-hover tbody tr:hover td {
            background-color: #fe9;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <i class="fa fa-user"></i>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("QuanLyRoom", "ManageRoom")">Quản lý phòng<span class="sr-only">(current)</span></a></li>
                        @*<li><a href="@Url.Action("QuanLyCat", "ManageRoom")">Quản lý loại phòng</a></li>*@
                        <li><a href="@Url.Action("QuanLyCusType", "ManageRoom")">Quản lý loại khách hàng</a></li>
                        <li><a href="#">Quản lý khách hàng</a></li>                       
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.GetUserName() <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Profile", "Account")"><i class="fa fa-user" aria-hidden="true"></i> Thông tin cá nhân</a></li>
                                <li><a href="@Url.Action("IndexRoomAdmin", "Home", new { permiss = 1 })"></i><i class="fas fa-edit"></i> Trang hỗ trợ đặt phòng</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a id="logoutLink" href="javascript:void"><i class="fas fa-sign-out-alt"></i> Thoát</a></li>
                            </ul>
                        </li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <form id="frmLogout" method="post" action="@Url.Action("Logout", "Account")"></form>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        @RenderSection("ContentHeaderManageRoom")
                    </div>
                    <div class="panel-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <footer>
            Copyright &copy; @DateTime.Now.Year
        </footer>
    </div>
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    @*<script defer src="~/Content/js/fontawesome-all.js"></script>*@
    <script type="text/javascript">
        $('#logoutLink').on('click', function () {
            $('#frmLogout').submit();
        });
    </script>
    @if (IsSectionDefined("script"))
    {
        @RenderSection("script")
    }
</body>
</html>
